fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
sqlalchemy
geoalchemy2
psycopg2-binary
celery
redis
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
stripe
PyJWT
earthengine-api
shapely
pyproj
reportlab
scikit-learn==1.3.2
numpy==1.26.2
joblib==1.3.2
xgboost==2.0.2
pandas
rasterio
requests
polars>=0.20.0
